/abc.html
/about.html
/amf.jpg
/app.js
/applications.html
/array.php
/bitnami.css
/contact.html
/cookiedetail.php
/dashboard
/databasecrud.php
/elecbill.php
/examq2.html
/examq4.html
/exp4.html
/exp4_2.html
/exp5_1.html
/exp5_2.html
/Exp7_2.php
/Exp7_3.php
/favicon.ico
/form.html
/form1.html
/formdatabase.html
/formval.php
/formvali.php
/formvalidate.php
/formValidations.js
/game.py
/home1.html
/images
/images.jpg
/img
/index.html
/index1.php
/login.html
/logincookie.html
/loginprocess.php
/logoutcookie.php
/M2q2.html
/M2q2.php
/marvel.jpg
/me.jpg
/message.html
/new.php
/P3_ABOUT.html
/P3_CONTACT.html
/P3_PROJECT.html
/P3_RESUME.html
/pages
/PHPprograms
/prac.html
/prac3.js
/Practical-3.html
/Practical-3js.js
/Project
/project.html
/q1.html
/Q2_signoutsuccessful.php
/q3.html
/q4.php
/register.php
/resume.html
/sessionlogin.php
/signoutq2.php
/webalizer
/xampp